body{
    background-color: #d2d8d6;
}
.img{
    height: 50%;
    width: 100%;
    display: inline;
   margin-top: 10%;
   margin-left: 20%;
    background-color: #d2d8d6;
    border-radius: 60%;
    
}
.aboutme{
    width:60%;
    height: 80%;
    padding: 20px;
    margin:10px 60px ;
    border:5px;
    border-radius: 3em;
    background-color: #fcfcfc;
    box-shadow: 0px 30px 20px 0px #1c1b1b;
}

.about{
    margin:10px 140px;
    display: flex;
    flex-direction: row;
    width:85%;
    height: 71%;
    border:5px;
    border-radius: 4em;
    background-color: rgba(55, 224, 224, 0.831);
}

th {
    background-color: #727574;
    color: white;
    padding: 20px;
    font-size: x-large;
    border-bottom: 2px solid rgb(232, 26, 26); 
  }

.tr1{
    background-color:#fcfcfc;
    border-bottom: 2px solid rgb(200, 63, 63);

}
.tr1:hover{
    background-color:rgba(55, 224, 224, 0.831);
    
}
.eduTable{
    box-shadow: 0px 30px 20px 0px #1c1b1b;
}


td{
    padding: 30px;
    font-size:large;
     
}


h1{
       
    font-size:300%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(33, 18, 129);
    text-align: center;

}
h2{
    text-align: center;
}

.hl{
    font-size: xx-large;
    font-weight: bolder;
    color: rgb(72, 7, 133);
}
.Areas{
    text-align: center;
    color: brown;
    font-weight: bolder;
    font-size: 30px;
    
}

.hob{
    font-weight: bolder;
    font-size: 25px;
}

#areashoblan{
    width: 70%;
    margin:0px 20% 0px 20%;
}

.profiles{
    text-align: center;
    margin:40px 400px;
    font-size:30px;
    display: flex;
    flex-direction: row;
    width:60%;
    
   
}

.profimg{
    width:50%;
    height: 50%;
    border-radius: 20%;
    box-shadow: 0px 30px 10px 0px #1c1b1b;

}
.profimg:hover{
    width: 50%;
    height: 60%;
    border-radius: 30%;
}


#skilltable{
    width: 60%;
    background-color: #fcfcfc;
    margin: 0% 20%;
    border-radius: 20%;
    box-shadow: 0px 30px 20px 0px #1c1b1b;

}
.skill{
    color: darkblue;
    font-weight: bolder;
}

.skillimg{
    width:130px;
    height: 100px;
    box-shadow: 0px 30px 10px 0px #1c1b1b;
}
.skilltable{
    padding: 20%;
    width: 30%;
    
}

table{
    align-items: center; 
    border-collapse: collapse;
    border-radius: 3em;
    overflow: hidden;
    width: 70%; 
}

p{
    font-size: xx-large;
    font-weight: bolder;
    color:rgb(124, 22, 22);
    text-align: center;
}

.projects{
    width:50%;
    background-color:#fcfcfc;
    box-shadow: 0px 30px 20px 0px #1c1b1b;
    padding: 40px;
    margin:40px 30px;
    border:5px;
    border-radius: 3em;
    font-size: larger;
}

.pros{
    
    display: flex;
    flex-direction:row;

}
.pros111{
    margin:50px 100px;
    width:85%;
    border:5px;
    border-radius: 4em;
    background-color: rgba(55, 224, 224, 0.831);
}


.intern{
    width:50%;
    background-color:#fcfcfc;
    padding: 25px;
    margin:25px 25%;
    border:5px;
    border-radius: 3em;
    font-size: larger;
    box-shadow: 0px 30px 20px 0px #1c1b1b;
}

#contact{
    width: 100%;
    height: 10%;
    padding: 10px 4px;
    background-color:#fcfcfc;
    align-items: center;
    border-radius: 2em;
    box-shadow: 0px 30px 20px 0px #1c1b1b;
   
}
.contact{
    display: inline;
    font-size:x-large;
    font-weight: bold;
   color: rgb(100, 22, 37);
    padding: 7px;
    margin: 8px;
    
}
.contact:hover{
    color: crimson;
}
i{
    display: inline;
    size: 20px;
}


.co{
    width:50%;
    background-color:#fcfcfc;
    box-shadow: 0px 40px 60px 0px #141313;
    padding: 20px;
    margin:10px ;
    border:5px;
    border-radius: 3em;
    font-size: larger;

}

.cocurricular{
    margin:50px 110px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    width:85%;
    border:5px;
    border-radius: 4em;
    font-weight: bold;
    background-color: rgba(55, 224, 224, 0.831);
}

h3{
    color: darkmagenta;
}

#education{
    margin-top: 10%;
}

.dropbtn {
    background-color: #791888;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    position: fixed;
    top:0%
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: #277eb9;
  }
  
  .dropdown {
    position: fixed;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    font-size: larger;
    font-weight: bold;
    color: cadetblue;
    position: fixed;
    background-color:#fcfcfc;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(32, 29, 29, 0.687);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown a:hover {
    background-color: #161515;
    color: #fcfcfc;
}
  
  .show {display: block;}